.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: black;
  height: var(--height-header);
  color: white;
}

.content {
  padding-top: var(--height-header);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--height-todolist);
}
